.formSign1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 330px;
  margin-top: 30px;
}
.formSign1 input {
  width: 300px;
  height: 40px;
  border: none;
  /* border-radius: 5px; */
  font-family: "Georama", sans-serif;
  color: black;
  font-size: 15px;
  padding-left: 20px;
  margin-bottom: 10px;
  background-color: transparent;
  border-bottom: 1px solid #05b4e1;
}

.formSign1 button {
  height: 40px;
  width: 330px;
  font-size: 16px;
  padding-left: 15px;
  border: none;
  color: #042541;
  font-family: "Georama", sans-serif;
  background: linear-gradient(45deg, #77c8af, #5bd7f6);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.formSign1 button:hover {
  background-color: #5bd7f6;
  color: #3f414a;
  cursor: pointer;
}
.signupForm p,
.signupForm1 p {
  color: #05b4e1;
  font-size: 16px;
}
.signupForm p:hover {
  color: #5bd7f6;
}
.formSign1 p:hover {
  color: #5bd7f6;
}
/* =====media queries=========650px==============================================================*/
@media (max-width: 650px) {
  .signupContainer {
    display: flex;
    flex-direction: column;
    min-height: 130vh;
    padding-top: 80px;
    /* background-color: lightcoral; */
    background: linear-gradient(#a0e5f7, #fff);
  }

  .explain h1 {
    font-size: 25px;
    margin-bottom: 45px;
    margin-left: 35px;
  }
  .explain p {
    margin-bottom: 30px;
    font-size: 18px;
    margin-left: 35px;
  }
  .explain span {
    color: #05b4e1;
    margin-right: 10px;
  }
  .formSign1 input {
    width: 250px;
    height: 40px;
    border: none;
    /* border-radius: 5px; */
    font-family: "Georama", sans-serif;
    color: black;
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border-bottom: 1px solid #05b4e1;
  }
  .formSign1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 320px;
    margin-top: 20px;
  }
  .signupForm p,
  .signupForm1 p {
    color: #05b4e1;
    font-size: 15px;
  }
  .formSign1 button {
    height: 40px;
    width: 280px;
    font-size: 15px;
    padding-left: 15px;
    border: none;
    color: #042541;
    font-family: "Georama", sans-serif;
    background: linear-gradient(45deg, #77c8af, #5bd7f6);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
