/*HomePage----------------------------*/
.mainContainerMainPage {
  display: flex;
  /* padding pour que le container ne soit pas caché par le header */
  padding-top: 80px;
  flex-direction: column;
  height: 100vh;
}
.mainContainerMainPage img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}
