.secondContainer {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #fff; */
}

.movieCard {
  display: flex;
  border: 1px solid grey;
  background-color: #fff;
  margin: 15px;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgb(69, 68, 68);
}

.movieCard:hover {
  /* box-shadow: 1px 1px 15px rgb(190, 188, 188); */
  box-shadow: 1px 1px 15px #21a1b3;
  opacity: 0.8;
}

.movieCardImg img {
  max-width: 200px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}
.movieTitle h1 {
  font-size: 16px;
  margin: 10px 5px 0 10px;
  color: black;
}
.movieP {
  font-size: 12px;
  margin: 10px 5px 0 10px;
  color: black;
}
