/*HomePage----------------------------*/
.mainContainer {
  display: flex;
  /* padding pour que le container ne soit pas caché par le header */
  padding-top: 100px;
  flex-direction: column;
  background-color: #a0e5f7;
  background: linear-gradient(45deg, #a0e5f7, #fff);
  min-height: 100vh;
  overflow: auto;
}

.mainContainerMinColumn {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
  /* background-color: lightgreen; */
}

/*---------------------------------*/
/* .containerToOverflow {
  background-color: #fff;
  overflow: auto;
  height: auto;
} */
/*---------------------------------*/

.secondContainer {
  /* background-color: lightsalmon; */
  display: flex;
  flex-wrap: wrap;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #052d50;
  margin: 20px;
  /* background-color: pink; */
}
.pagination input {
  text-align: center;
  border: 1px solid #05b4e1;
  border-radius: 5px;
  color: #042541;
}

.mainContainerMinColumn h2 {
  position: relative;
  margin-left: 40px;
  padding-top: 20px;
}

.mainContainerMinColumn h2::before {
  content: "";
  position: absolute;
  left: 5%;
  bottom: -5px;
  width: 150px;
  height: 8px;
  transform: skew(-12deg) translateX(-45%);
  background: linear-gradient(45deg, #77c8af, #5bd7f6);
  z-index: 1;
}

/* =====media queries=========650px==============================================================*/
@media (max-width: 650px) {
  .secondContainer {
    /* background-color: lightsalmon; */
    display: flex;
    flex-wrap: wrap;
  }
  .mainContainerMinColumn h2::before {
    left: 15%;
  }
}
