/*HomePage----------------------------*/
.mainContainer {
  display: flex;
  /* padding pour que le container ne soit pas caché par le header */
  padding-top: 80px;
  flex-direction: column;
  /* background-color: yellow; */
}

.mainContainerMinColumn {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
  /* background-color: lightgreen; */
}

.secondContainer {
  /* background-color: lightsalmon; */
  display: flex;
  flex-wrap: wrap;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #052d50;
  margin: 20px;
  /* background-color: pink; */
}
.pagination input {
  text-align: center;
  border: 1px solid #05b4e1;
  border-radius: 5px;
  color: #042541;
}
