/*Header---------------------------*/

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: white;
  position: fixed;
  border-bottom: 1px solid grey;
  top: 0;
  width: 100vw;
}

.logo img {
  width: 150px;
  margin-left: 20px;
}
