.mainSearchContainer {
  display: flex;
  /* padding pour que le container ne soit pas caché par le header */
  padding-top: 80px;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: yellow; */
  background-color: #a0e5f7;
  background: linear-gradient(45deg, #a0e5f7, #fff);
}
.mainSearchContainer1 {
  display: flex;
  /* padding pour que le container ne soit pas caché par le header */
  padding-top: 180px;
  justify-content: center;
  align-items: center;
  height: 100vw;
  /* background-color: yellow; */
}

.mainSearchContainerMinColumn {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
  /* background-color: lightgreen; */
}
.searchh1 h2 {
  position: relative;
  margin-left: 40px;
  padding-top: 20px;
}

.searchh1 h2::before {
  content: "";
  position: absolute;
  left: 5%;
  bottom: -5px;
  width: 100px;
  height: 10px;
  transform: skew(-12deg) translateX(-70%);
  background: linear-gradient(45deg, #77c8af, #5bd7f6);
  z-index: 1;
}

/* =====media queries=========650px==============================================================*/
@media (max-width: 650px) {
  .searchh1 h2::before {
    content: "";
    position: absolute;
    left: 15%;
    bottom: -5px;
    width: 100px;
    height: 10px;
    transform: skew(-12deg) translateX(-70%);
    background: linear-gradient(45deg, #77c8af, #5bd7f6);
    z-index: 1;
  }
}
