.mainSearchContainer {
  display: flex;
  /* padding pour que le container ne soit pas caché par le header */
  padding-top: 80px;
  flex-direction: column;
  height: 100vw;
  /* background-color: yellow; */
}

.mainSearchContainerMinColumn {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
  /* background-color: lightgreen; */
}
.searchh1 h2 {
  position: relative;
  margin-left: 40px;
}

.searchh1 h2::before {
  content: "";
  position: absolute;
  left: 5%;
  bottom: 0px;
  width: 100px;
  height: 10px;
  transform: skew(-12deg) translateX(-70%);
  background: #5bd7f6;
  z-index: -1;
}
