/* Footer--------------------------------------------- */
.footer {
  display: flex;
  justify-content: center;
  /* border-top: 1px solid #6dbcb9; */
  color: azure;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: #042541;
  box-shadow: 1px 1px 15px rgb(190, 188, 188);
}

.footer span {
  font-weight: bold;
  text-decoration: none;
  color: aliceblue;
}

.footer button {
  border: none;
  color: aliceblue;
  background-color: #042541;
  font-size: 15px;
  font-weight: bold;
}

.footer button:hover {
  color: #5bd7f6;
}
