.containerUpMovie {
  display: flex;
  /* padding pour que le container ne soit pas caché par le header */
  padding-top: 80px;
  flex-direction: column;
  /* background-color: pink; */
  background-color: #a0e5f7;
  background: linear-gradient(45deg, #a0e5f7, #fff);
}

.mainContainerMinUpColumn {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
  /* background-color: lightgreen; */
}
.span {
  color: #042541;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
}

.mainContainerMinUpColumn h2 {
  position: relative;
  margin-left: 40px;
  padding-top: 20px;
}

.mainContainerMinUpColumn h2::before {
  content: "";
  position: absolute;
  left: 5%;
  bottom: -5px;
  width: 150px;
  height: 8px;
  transform: skew(-12deg) translateX(-45%);
  background: linear-gradient(45deg, #77c8af, #5bd7f6);
  z-index: 1;
}
