/* import de la police Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
  /* pour remettre à 0 les marges et padding */
  margin: 0;
  padding: 0;
}

/* pour supprimer les soulignements pour les liens */
a {
  text-decoration: none;
}
