body {
  font-family: Arial, Helvetica, sans-serif;
  /* pour remettre à 0 les marges et padding */
  margin: 0;
  padding: 0;
}

/* pour supprimer les soulignements pour les liens */
a {
  text-decoration: none;
}
